body {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #353535;
}

header {
    background: black;
    padding: 1em 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: blanchedalmond;
  }

.hero-banner-img {
  width: 100%;

}

.logo {
    display: flex;
    width: 0%;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 2rem;
    text-align: left;
  }  

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.typography {
  text-align: center;
}  

section.work  {
  text-align: center;
}

nav {
    text-align: left;
  }
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }  


section, article {
    padding: 3em;
    align-items: center;
    //*display: flex;*//
    
}


section.rows {
  margin: 0;
  padding: 0;
  display: flex;
}

a.button {
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;

}
