html {
  box-sizing: border-box; 
}


body {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #353535;
    background-color:whitesmoke;
}

header {
    background: black;
    padding: 1em 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: blanchedalmond;
  }

.hero-banner-img {
  width: 100%;
  

}

.logo {
    display: flex;
    width: 0%;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 2rem;
    text-align: left;
  }  

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

section.image {
  margin: 0 auto 20px;
  font-size: 1em;
      
}


img.image {
  size-adjust: 1;
  
}

.typography {
  text-align: center;
  font-size: 1em;
}  

section.work  {
  text-align: center;
}

nav {
    text-align: left;
  }
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }  


section, article {
    padding: 3em;
    align-items: center;
    //*display: flex;*//
    
}


section.rows {
  margin: 0;
  padding: 0;
  display: flex;
}

.box-1 {
  background-color: white;
  margin: 0 auto 20px;
	border: 1px solid #cfcfcf;
  padding: 1em;
  border-radius: .5em;
}

.box-2 {
  background-color: white;
  margin: 0 auto 20px;
	border: 1px solid #cfcfcf;
  padding: 1em;
  border-radius: .5em;
}

.box-3 {
  background-color: white;
  margin: 0 auto 20px;
	border: 1px solid #999;
  padding: 1em;
  border-radius: .5em;
}


a.button {
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;

}

section.triatic {
  font-weight: bold;
  text-align: center;
}


section.triatic, .better {
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-items: center;
  background-color: #000;
}

section.image, section.center {
	background-color: white;

}

section.work {
  background-color: white;
}